# Introduction
This is our class note, and we will be learning Data Science with Python!!!!

In [8]:
print('Hello World')

Hello World

In [3]:
# This is a comment and python will ignore this line 
# this is also called a single line comment

In [7]:
""" This is a multi-line comment 
   this type of comment allows us to write on multiple lines.
"""

' This is a multi-line comment \n   this type of comment allows us to write on multiple lines.\n'

In [12]:
# Varibles: They are storage or container in Python.
score = 10

In [13]:
score

10

In [14]:
score * score

100

### Data types in Python
- String
- int - Integers
- Float - Decimal
- Boolean - True/False

In [15]:
age = 25
height = 5.11
name = "Alice"
is_student = True

In [17]:
type(age) # type tells us the data type

int

In [18]:
print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Operators and Expression
Operators and special symbols that carry out arithmetic 
or logical computation

In [19]:
# adding two operends 
2 + 4

6

In [20]:
# subtrarion 
6 - 4

2

In [21]:
# multiplication of two operands 
2 * 4

8

In [22]:
# divides left operands by right operands 
# when you divide a whole number by another whole number the result is a floating value 
8 / 4

2.0

In [23]:
# Modulus: returns the remainder when you divide the left operand by the right operand 
8 % 3

2

In [29]:
10 % 3

1

In [24]:
# Exponent - left hand operand raise to the power of the right hand operand 
2 ** 3

8

In [25]:
pow(2, 3)

8

In [27]:
# floor division- Division that results in the whole number adjusted to the number line
9//2

4

In [28]:
10 // 3

3

In [30]:
import math

In [31]:
math.floor(9//2)

4

In [33]:
## Assignment operator: is used to store whatever is on the left-hand side into the right-hand 
a = 10
b = 40

In [34]:
a

10

In [35]:
b

40

In [36]:
a = a + b

In [37]:
a

50

### Comparison operators

In [38]:
# The double equal sign checks if both operands are equal 
name = "Toke"
person = "Bob"

In [39]:
name == person

False

In [40]:
# Not equal to - True if operands are not equal
name != person

True

In [41]:
# the greater than sign
a = 10
b = 40

In [42]:
a > b

False

In [43]:
a < b

True

In [44]:
a >= b

False

In [45]:
a <= b

True

In [46]:
a

10

### CONTROL FLOW
Conditional statements(if, elif, else), looping with for and while loops, break and continue statement are common 
syntax of controlling the flow of program logic in python. your code execute from top to bottom. it is your job to control
the flow of your code

In [63]:
age = 100

# if age >= 15:
#     print("You are an Adult, prepare for marriage")

# else:
#     print("you are a minor, focus on your studies")

In [64]:
# using multiple ifs
if age <= 10:
    print("you are too Young!")

elif age >= 13 and age <= 18:
    print("You are a teenager")

elif age >= 18 and age <=90:
    print ("You are old enough")

else:
    print("what is your age?")

what is your age?

In [66]:
# Using the input statement to get response from the user 
age = float(input("what is your name?: "))

what is your name?:  18.5

In [ ]:
# using multiple ifs
if age <= 10:
    print("you are too Young!")

elif age >= 13 and age <= 18:
    print("You are a teenager")

elif age >= 18 and age <=90:
    print ("You are old enough")

else:
    print("what is your age?")

### PYTHON BUILT-IN FUNCTIONS 
Python built-in function are are functions built into python as core programme methods/functions

In [69]:
# The Print statement: this is how python returns output 
print("Tpepper lost her phone yesterday")

Tpepper lost her phone yesterday

In [70]:
# int: This function returns the integer version and value passed
value = "20"

In [71]:
value = int(value)

In [72]:
value

20

In [73]:
# Float: This function returns the floating version of any value passed
number = "30.5"

In [74]:
number

'30.5'

In [75]:
number = float(number)

In [76]:
number

30.5

In [77]:
# String: This function returns the string version of the passed to it 
string = 50

In [78]:
str(string)

'50'

In [80]:
string =("Mr Pelu")

In [81]:
string = bool(string)

In [82]:
string

True

In [83]:
# The abs (absolute) function returns the positive version of the value passed to it 
value = -100

In [84]:
abs(value)

100

In [85]:
# The max function returns the biggest value from a list of value

In [86]:
numbers = [2, 4, 6, 7, 10, 20]

In [87]:
max (numbers)

20

In [88]:
# min funtion returns the smallest value from a list of values

In [89]:
min(numbers)

2

In [91]:
# The range function returns the range of numbers between two integer
list (range (10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### FOR LOOPS
For Loops is used to iterate throgh a sequence of values

In [92]:
for city in range(5):
    print(city)

0
1
2
3
4

In [93]:
for city in range(5):
    print(city)
    break

0

In [100]:
for city in range(5):
    if city > 3:
        break

    print(city)

0
1
2
3

In [101]:
for books in range (20):
    if books > 10:
        break
    print(books)

0
1
2
3
4
5
6
7
8
9
10

In [105]:
for books in range (20):
    if books in[3, 10, 15]:
        continue
    print(books)

0
1
2
4
5
6
7
8
9
11
12
13
14
16
17
18
19

### STRINGS
String are essential part of python programming construct, they are denoted by single or double quotes.
Strings has methods for changing and manipulating them.

In [144]:
name = "eniola"

In [108]:
# this method changes the first letter of the word to uppercase 
name.capitalize()

'Eniola'

In [110]:
names = ["emmanuel", "ruth", "eniola", "niyi", "soji"]

In [111]:
new_names =[]
for i in names:
    new_names.append(i.capitalize())

In [112]:
new_names

['Emmanuel', 'Ruth', 'Eniola', 'Niyi', 'Soji']

In [113]:
# this method changes all the letters in the word to uppercase 
name.upper()

'ENIOLA'

In [114]:
# this method changes the first letter of the word to uppercase 
name.title()

'Eniola'

In [115]:
new_names =[]
for i in names:
    new_names.append(i.upper())

In [116]:
new_names

['EMMANUEL', 'RUTH', 'ENIOLA', 'NIYI', 'SOJI']

In [117]:
# this method changes the all the letters of the word to lowercase 
name.lower()

'eniola'

In [118]:
"WE ARE LEARNING PYTHON TOGETHER".lower()

'we are learning python together'

In [119]:
"WE ARE LEARNING PYTHON TOGETHER".title()

'We Are Learning Python Together'

In [121]:
"WE ARE LEARNING PYTHON TOGETHER".capitalize()

'We are learning python together'

In [122]:
name ="    eniola   "

In [123]:
name

'    eniola   '

In [124]:
len(name)

13

In [125]:
# This method strips the whitespaces from both sides of a string 
name.strip()

'eniola'

In [126]:
# This method strips the whitespaces from the left of a string 
name.lstrip()

'eniola   '

In [128]:
# This method strips the whitespaces from the right of a string 
name.rstrip()

'    eniola'

In [132]:
name.replace("", "+")

'+ + + + +e+n+i+o+l+a+ + + +'

In [136]:
"WE ARE LEARNING PYTHON TOGETHER".split(" ")

['WE', 'ARE', 'LEARNING', 'PYTHON', 'TOGETHER']

In [145]:
# String indexing and slicing 
name

'eniola'

In [148]:
name[0:3]

'eni'

### LIST
The list is a python data structure that can be change or mutuable, it can store any type of data
its noted by a square bracket[ ]

In [137]:
shoping_list = ["mango", "rice", "tomato", "beans", "meat"]

In [138]:
shoping_list

['mango', 'rice', 'tomato', 'beans', 'meat']

In [139]:
shoping_list[0]

'mango'

In [140]:
shoping_list[-1]

'meat'

In [141]:
shoping_list[4]

'meat'

In [142]:
shoping_list[3]

'beans'

In [149]:
shoping_list[0:4] # the last number in the slice is always excluded

['mango', 'rice', 'tomato', 'beans']

In [154]:
shoping_list[-4:-1]

['rice', 'tomato', 'beans']

In [155]:
shoping_list[:4]

['mango', 'rice', 'tomato', 'beans']